.venv
/dataset/*
/predictions/*
/binarized_otsu_snippet/*
/binarized_sauvola_snippet/*
/binarized_otsu_whole/*
/binarized_sauvola_whole/*

!/dataset/.gitkeep
!/predictions/.gitkeep
!/binarized_otsu_snippet/.gitkeep
!/binarized_sauvola_snippet/.gitkeep
!/binarized_otsu_whole/.gitkeep
!/binarized_sauvola_whole/.gitkeep